/*RESETS AND PRESETS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    /*padding: 2.5em 3.5em;*/
}

/*HEADER*/

.header {
    background: linear-gradient(red, rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: right;
    color: #fff;
    padding: 1.5rem 0 0.5rem;
}

.header-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 3.5rem;
    animation: moving-logo 4s infinite;
}

.nav-bar {
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem;
    font-weight: 500;
}

.nav-link {
    color: ghostwhite;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    order: 3;
    width: 80%;
    height: 3.5rem;
    border: 2px solid ghostwhite;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}


.search {
    font-size: 1.5rem;
    outline: none;
    width: 90%;
    border: none;
    background: transparent;
    color: #fff;
}

.search::placeholder {
    color: ghostwhite;
    opacity: 0.8;
}

.header-lower {
    font-size: 2.5rem;
    margin: 1.5rem auto 2rem;
    text-align: center;
    font-weight: 600;
    width: 90%;
    padding: 0 1.2rem;

}

.header-lower::before, .header-lower::after {
    content: '"'
}

span {
    font-style: italic;
}

/*********MAIN**********/

/*TOP 12 SECTION*/

.top-12 {
    background-image: url(./img/top12-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 1.5rem 2rem;
}

.section-heading {
    font-size: 2.5rem;
    color: hsla(90, 50%, 50%, 1);
    background-color: rgba(255, 0, 0, 1);
    width: fit-content;
    padding: 0 2.5rem 0 7.5rem;
    margin-left: -1.5rem;
    text-align: right;
    margin-bottom: 1rem;
}


.top12-tiles-wrapper, .trending-tiles-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;
}

.image-tile {
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.song-title, .artist {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    font-weight: 600;
    text-shadow: 5px 5px 10px #fff;
}

.song-title span, .artist span {
    margin-right: 1rem;
    font-weight: 400;
    text-shadow: none;
}


/*SOCMED SECTION*/

.socmed {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    top: 60%;
    z-index: 1000;
    background-color: hsla(56, 38%, 58%, 0.5);
    padding: 0.5rem;
}

/*TRENDING TODAY SECTION*/

.trending-today {
    padding: 2.5rem 1.5rem 1.5rem;
    background: hsla(20, 80%, 85%, 1);
}

/*MUSIC TRIVIA SECTION*/

.music-trivia {
    padding: 3rem 1.5rem 2rem;
    background: linear-gradient(gray,beige);
    height: 55vh;
}

.trivia-body {
    color: #222;
    font-weight: 500;
    font-size: 2.5rem;
    padding: 0 2rem;
    text-indent: 2rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.footer {
    display: flex;
    background-color: black;
    color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 2rem;
}

.footer-nav-item {
    padding: 0.3rem 0;
    list-style: none;
}

.footer-nav-link {
    color: whitesmoke;
    text-decoration: none;
}

.copyright-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.copyright-wrapper .copyright-text {
    order: 1;
}

/********MEDIA QUERY********/

@media (min-width: 700px) {

    .header {
        position: sticky;
        top: 0;
    }

    .header-upper {
        flex-direction: row;
        justify-content: space-between;
        padding-left: 4rem;
        padding-right: 4rem;
        }

    .header-upper .logo {
        font-size: 7rem;
    }

    .search-wrapper {
        max-width: 500px;
        margin-right: 25rem;
        height: 4rem;
        }

    .nav-bar {
        order: 3;
        margin: 0;
        
        }

    .nav-list {
        display: flex;
        gap: 3.5rem;
        }

    .nav-link {
        font-size: 2rem;
        padding: 1rem;
    }

    img {
        height: 200px;
        }
    .top12-tiles-wrapper, .trending-tiles-wrapper {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        column-gap: 2rem;
        }

    .socmed {
        top: 50%;
    }
    .trivia-body {
        font-size: 5rem;
        width: 60%;
        margin: 0 auto;
        color: red;
        font-weight: 700;
        text-indent: 10rem;
        }

    .music-trivia {
        height: auto;
        padding-bottom: 6rem;
        }
    .footer-nav {
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5rem;
        }
    .copyright-wrapper {
        flex-direction: row;
        gap: 1rem;
        padding-right: 6rem;
        }
    }

    /**********HOVER STYLES**********/

    .search-wrapper:hover, .search-wrapper:focus, img:hover, img:focus{
        box-shadow: 0 0 10px whitesmoke;
        cursor: pointer;
    }

    .nav-link:hover, .nav-link:focus, .footer-nav-link:hover, .footer-nav-link:focus {
        text-shadow: 0 0 10px whitesmoke;
        color: cornflowerblue;
    }

/********ANIMATION*********/

@keyframes moving-logo {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(360deg);}
}

    