/*RESETS AND PRESETS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 2.5em 3.5em;
}

/*HEADER*/

.header {
    background: linear-gradient(red, rgba(0, 0, 0, 0.8));
    background-size: cover;
    background-position: right;
    color: #fff;
    padding: 1.5rem 0 0.5rem;
}

.header-upper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 3.5rem;
}

.nav-bar {
    margin: 0 auto;
}

.nav-item {
    list-style: none;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem;
    font-weight: 500;
}

.nav-link {
    color: ghostwhite;
    letter-spacing: 0.1rem;
    text-decoration: none;
}

.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    order: 3;
    width: 80%;
    height: 3.5rem;
    border: 2px solid ghostwhite;
    margin: 1rem 0;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
}


.search {
    font-size: 1.5rem;
    outline: none;
    width: 90%;
    border: none;
    background: transparent;
    color: #fff;
}

.search::placeholder {
    color: ghostwhite;
    opacity: 0.8;
}

.header-lower {
    font-size: 2.5rem;
    margin: 1.5rem auto 2rem;
    text-align: center;
    font-weight: 600;
    width: 90%;
    padding: 0 1.2rem;

}

.header-lower::before, .header-lower::after {
    content: '"'
}

span {
    font-style: italic;
}

/*********MAIN**********/

/*TOP 12 SECTION*/

.top-12 {
    background-image: url(./img/top12-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 3rem 1.5rem 2rem;
}

.section-heading {
    font-size: 2.5rem;
    color: hsla(90, 50%, 50%, 1);
    background-color: rgba(255, 0, 0, 1);
    width: fit-content;
    padding: 0 2.5rem 0 7.5rem;
    margin-left: -1.5rem;
    text-align: right;
    margin-bottom: 1rem;
}


.top12-tiles-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2rem;
    justify-items: center;
}

.image-tile {
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
}

.song-title, .artist {
    font-size: 1.5rem;
    padding-left: 0.5rem;
    font-weight: 600;
    text-shadow: 5px 5px 10px #fff;
}

.song-title span, .artist span {
    margin-right: 1rem;
    font-weight: 400;
    text-shadow: none;
}

